<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Startup Form</title>
</head>
<body>
<!-- The form should submit to StartupController.create or StartupController.update,
     depending on whether we are creating or editing a startup -->
<form method="post" th:action="@{${startUp == null ? '/startups' : '/startups/' + startUp.id}}">
    <div>
        <label for="name">Startup Name</label>
        <input type="text"
               id="name"
               name="name"
               th:value="${startUp?.name}"
               required>
    </div>

    <div>
        <label for="valuation">Valuation (in millions)</label>
        <input type="number"
               id="valuation"
               name="valuation"
               th:value="${startUp?.valuation}"
               required>
    </div>

    <div>
        <label for="yearFounded">Year Founded</label><br/>
        <input type="number"
               id="yearFounded"
               name="yearFounded"
               th:value="${startUp?.yearFounded}"
               min="2000"
               required>
    </div>

    <div>
        <label for="industry">Industry</label><br/>
        <select id="industry" name="industry" size="5" required>
            <!-- For each Industry you should have one <option> like below  -->
            <option th:each="ind : ${industries}"
                    th:value="${ind}"
                    th:text="${ind}"
                    th:selected="${startUp?.industry==ind}"
            >[industry]</option>
        </select>
    </div>

    <div>
        <label for="founderId">Founder</label><br/>
        <select id="founderId" name="founderId" required size="5">
            <!-- For each founder you should have one <option> like below  -->
            <option th:each="founder : ${founders}"
                    th:value="${founder.id}"
                    th:text="${founder.name}"
                    th:selected="${startUp?.founder?.id==founder.id}"
            >[founder.founder]</option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/startups" type="button" class="btn btn-primary">Back to Startups</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
